<form *transloco="let t" class="form__search" [formGroup]="searchForm">
  <div class="wrapper__search_container">
    <div class="wrapper__search">
      <input
        type="text"
        class="search"
        [placeholder]="t('city_comp.search_city')"
        formControlName="searchInput"
      />
      <img src="/icons/search.svg" alt="Поиск" class="search-icon" />
    </div>
    <div class="wrapper__search">
      <mat-form-field appearance="fill" class="w-100 country-field">
        <mat-label>{{ t("country_comp.search_country") }}</mat-label>

        <input
          type="text"
          matInput
          formControlName="countryInput"
          [matAutocomplete]="autoCountry"
          #countryTrigger="matAutocompleteTrigger"
          (focus)="openCountryPanel(countryTrigger)"
        />

        <mat-icon matSuffix>public</mat-icon>
      </mat-form-field>

      <mat-autocomplete
        #autoCountry="matAutocomplete"
        (optionSelected)="onCountrySelected($event.option.value)"
      >
        <cdk-virtual-scroll-viewport
          itemSize="50"
          class="autocomplete-viewport"
        >
          <mat-option
            *cdkVirtualFor="let c of countriesData()"
            [value]="c.code"
          >
            {{ c.name }} ({{ c.code }})
          </mat-option>
        </cdk-virtual-scroll-viewport>
      </mat-autocomplete>
    </div>
  </div>
  @if (searchForm.invalid) {
  <div class="error-message">{{ t("latin") }}</div>
  }
</form>

<!--спиннер -->
@if (isLoading()) {
<div *transloco="let t" class="loading-state">
  <div class="custom-spinner"></div>
  <span>{{ t("loading_data") }}</span>
</div>
}

<!-- рендер при отсутсвии города -->
@if(!isLoading() && dataSource().length === 0){
<div *transloco="let t" class="empty-state">
  <mat-icon>search_off</mat-icon>
  <p>{{ t("city_comp.city_not_found") }}</p>
</div>
}

<div class="table-container">
  @if (!isLoading() && dataSource().length > 0) {
  <table
    *transloco="let t"
    mat-table
    [dataSource]="dataSource()"
    class="countries-table"
  >
    <ng-container matColumnDef="country">
      <th mat-header-cell *matHeaderCellDef>{{ t("city_comp.country") }}</th>
      <td mat-cell *matCellDef="let element">{{ element.country }}</td>
    </ng-container>

    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef>{{ t("city_comp.name") }}</th>
      <td mat-cell *matCellDef="let element">{{ element.name }}</td>
    </ng-container>

    <ng-container matColumnDef="region">
      <th mat-header-cell *matHeaderCellDef>{{ t("city_comp.region") }}</th>
      <td mat-cell *matCellDef="let element">{{ element.region }}</td>
    </ng-container>

    <ng-container matColumnDef="population">
      <th mat-header-cell *matHeaderCellDef>{{ t("city_comp.population") }}</th>
      <td mat-cell *matCellDef="let element">
        {{ element.population | customNumber }}
      </td>
    </ng-container>

    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let element">
        <div class="action-buttons">
          <!-- кнопка редактирования -->
          <button mat-icon-button (click)="editItem(element)">
            <mat-icon>edit</mat-icon>
          </button>

          <!-- кнопка просмотра -->
          <button mat-icon-button (click)="viewCity(element.wikiDataId)">
            <mat-icon>visibility</mat-icon>
          </button>
        </div>
      </td>
    </ng-container>

    <tr
      mat-header-row
      *matHeaderRowDef="displayedColumns"
      class="mat-header-row"
    ></tr>
    <tr
      mat-row
      *matRowDef="let row; columns: displayedColumns"
      class="mat-row"
    ></tr>
  </table>
  <mat-paginator
    [length]="paginationService.totalCount()"
    [pageSize]="paginationService.pageSize()"
    [pageIndex]="paginationService.pageIndex()"
    [pageSizeOptions]="paginationService.paginatorConfig.pageSizeOptions"
    [showFirstLastButtons]="
      paginationService.paginatorConfig.showFirstLastButtons
    "
    (page)="onPageChange($event)"
  >
  </mat-paginator>
  }
</div>
