<form class="form__search" [formGroup]="searchForm">
  <div class="wrapper__search_container">
    <div class="wrapper__search">
      <input
        type="text"
        class="search"
        placeholder="Поиск города..."
        formControlName="searchInput"
      />
      <img src="/icons/search.svg" alt="Поиск" class="search-icon" />
    </div>

    @if (hasRouteData) {
    <button mat-raised-button class="filter-button" (click)="closeFilter()">
      <mat-icon class="close-icon">close</mat-icon>
      Фильтр
    </button>
    }
  </div>
  @if (searchForm.invalid) {
  <div class="error-message">Используйте только латиницу</div>
  }
</form>

<!-- кнопки -->
<div class="nav-buttons-wrapper">
  <app-nav-links></app-nav-links>
</div>

<!--спиннер -->
@if (isLoading()) {
<div class="loading-state">
  <div class="custom-spinner"></div>
  <span>Загрузка данных...</span>
</div>
}

<!-- Рендер при отсутсвии города -->
@if(!isLoading() && dataSource().length === 0){
<div class="empty-state">
  <mat-icon>search_off</mat-icon>
  <p>Город не найден</p>
</div>
}

<div class="table-container">
  @if (!isLoading() && dataSource().length > 0) {
  <table mat-table [dataSource]="dataSource()" class="countries-table">
    <ng-container matColumnDef="country">
      <th mat-header-cell *matHeaderCellDef>Страна</th>
      <td mat-cell *matCellDef="let element">{{ element.country }}</td>
    </ng-container>

    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef>Наименование</th>
      <td mat-cell *matCellDef="let element">{{ element.name }}</td>
    </ng-container>

    <ng-container matColumnDef="region">
      <th mat-header-cell *matHeaderCellDef>Регион</th>
      <td mat-cell *matCellDef="let element">{{ element.region }}</td>
    </ng-container>

    <ng-container matColumnDef="population">
      <th mat-header-cell *matHeaderCellDef>Население</th>
      <td mat-cell *matCellDef="let element">
        {{ element.population | customNumber }}
      </td>
    </ng-container>

    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let element">
        <div class="action-buttons">
          <!-- кнопка редактирования -->
          <button mat-icon-button (click)="editItem(element)">
            <mat-icon>edit</mat-icon>
          </button>

          <!-- кнопка просмотра -->
          <button mat-icon-button (click)="viewCity(element.wikiDataId)">
            <mat-icon>visibility</mat-icon>
          </button>
        </div>
      </td>
    </ng-container>

    <tr
      mat-header-row
      *matHeaderRowDef="displayedColumns"
      class="mat-header-row"
    ></tr>
    <tr
      mat-row
      *matRowDef="let row; columns: displayedColumns"
      class="mat-row"
    ></tr>
  </table>
  <mat-paginator
    [length]="totalCount()"
    [pageSize]="pageSize()"
    [pageIndex]="pageIndex"
    [pageSizeOptions]="[5, 10]"
    showFirstLastButtons
    (page)="onPageChange($event)"
  >
  </mat-paginator>
  }
</div>
