.header {
  padding-top: 30px;

  .header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .header__heading{
    color: #191C30E6;
    font-weight: 800;
    line-height: 28px;
    font-size: 24px;
    text-transform: uppercase;
  }
}
.container{
    max-width: 1350px;
    margin: 0 auto;
}
.nav-buttons-wrapper{
  margin: 30px 0px;
}


