$primaryColor: #191C30E6;
.header {
  padding-top: 30px;

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__heading{
    color: $primaryColor;
    font-weight: 800;
    line-height: 28px;
    font-size: 24px;
  }
}
.container{
    max-width: 1350px;
    margin: 0 auto;
}
.content{
    padding-top: 30px;
}

