<header class="header">
  <div class="container">
    <div class="header__inner">
      <div class="header__title">
        <h1 class="header__heading">ГЕОИНФОРМАЦИЯ</h1>
      </div>
      <div class="header__lang-switcher">
        <div class="lang-switcher">
          <button class="lang-switcher__btn">RU</button>
          <button class="lang-switcher__btn">EN</button>
        </div>
      </div>
    </div>
  </div>
</header>

<section class="content">
  <div class="container">
    <div class="content__wrapper">
      <router-outlet></router-outlet>
    </div>
  </div>
</section>
