.language-switcher {
  display: flex;
  flex-direction: column;
  gap: 8px;
  
  p {
    margin: 0;
    font-weight: 500;
  }
}
mat-radio-group{
    display: flex;
}
mat-radio-button{
    text-transform: uppercase;
}
.language-option {
  display: flex;
  align-items: center;
}